.img-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title__text{

    color: red;
}

#beach{
    display: flex;
    justify-content: center;
    align-items: center;
}